.divProfile {
    display: flex;
    flex-direction: row;
    height: 60vh;
}

.nullTop {
    height: 10vh;
    width: 100vw;
}

.nullProfile {
    text-align: start;
    height: 10vh;
    width: 50vw;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    width: 50vw;
    color: black
}

li {
    list-style: none;
    color: black
}

.profileLink {
    text-decoration: none;
    color: black;

    &:hover{
        cursor: pointer;;
        color: blue;;
    }
}

.renderDiv {
    text-align: center;
    height: 50vh;
    width: 50vw;
}