@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap';

.divProfile {
    display: flex;
    flex-direction: column ;
    text-align: center;
    height: 100vh;
}

.nullTop {
    height: 15vh;
    width: 100vw;
}

.nullProfile {
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    height: 10vh;
    width: 100vw;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 50vh;
    width: 96vw;
    color: black
}

li {
    font-family: 'Pacifico', cursive;
    font-size: large;
    list-style: none;
    color: black
}

.profileLink {
    text-decoration: none;
    color: black;

    &:hover{
        cursor: pointer;;
        color: blue;;
    }
}

.renderDiv {
    text-align: center;
    height: 50vh;
    width: 50vw;
}