@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap';

.header {
    display: flex;
    align-items: center;
    height: 6em;
    width: 100%;
    background-color: #3f72af;
}

.nullHeader  {
    width: 1em;
}

.customerData {
    display: flex;
    flex-direction: row;
}

.nullHeaderAlt {
    width: 3em;
}

.customerNull {
    display: flex;
    flex-direction: row;
}

#nullTitulo {
    width: 22em;
}

.imagenLogo {
    background-image: url(../../img/logo.svg);
    background-size: 100%;
    height: 5em;
    width: 5em;
    margin-left: 5%;
}

.titulo {
        font-family: 'Noto Sans JP', sans-serif;
        color: white;
        width: 20em;
        text-align: center;
        font-size: x-large;
}

.headerLink { 
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    width: 6em;
            
&:hover {
    cursor: pointer;
    color: #112d4e;
    }
}