.header {
    display: flex;
    align-items: center;
    height: 6em;

    div {
        width: 3em;
    }

    a { 
        text-decoration: none;
        color: #3f72af;
            
    &:hover {
        cursor: pointer;
        color: #112d4e;
        }
    }
}