form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%; 
    height: 20em;
}

label {
    text-align: center;
    padding-top: 0.5%;
}

p {
    width: 0.2em;
}

input{
    height: 1.2em;
    width: 12em;
}

button {
    margin-top: 1.5%;
    width: 6em;
    &:hover {
        cursor: pointer;
    }
}
