form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    height: 16em;
}

p {
    width: 0.2em;
}

input{
    height: 1.2em;
    width: 12em;
}

button {
    width: 6em;
}
