form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;;
    float: left;
    height: 12em;

}

p {
    width: 0.2em;
}

input{
    height: 1.2em;
    width: 12em;
}

button {
    margin-left: 35%;
    width: 6em;
}